body{
  align-self: center;
  /* margin: 5%; */
  /* padding: 2%; */
  background-color: #ccc;
}
.main{
  align-self: center;
  padding: 5%;
  background-color: white;
  border-radius: 15px;
}

.header{
  background-color: #ccc;

}
.button{
  float: right;
  padding: 10px;
}
.header{
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  height: 40px;
  width: auto;
  vertical-align: middle;
}
.titulo_web{
  text-align: right;
  padding: 5%;
  /* margin-top: 10px; */
}
.navigation input{
  padding: 10px;
  font-size: 20px;
  width: 85%;
}
.navigation button{
 /* font-size: 22px; */
 padding: 15px 4%;
 float: right;
 /* width: 12%; */
 vertical-align: middle;
 background-color: white;
 border: 3px solid blue;
 border-radius: 10px;
 font-size: 15px;

}
.buscador{
    padding: 10px;
}

.logo{
  /* width: 250px; */
  width: 25%;
  padding: 10px;

}

.categorias .boton_izquierda{
  float: left;
  padding: 15px 4%;
  vertical-align: middle;
  background-color: #008cba;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.categorias .boton_medio{
  padding: 15px 4%;
  margin-left: 20%;
  vertical-align: middle;
  background-color: #008cba;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.categorias .boton_derecha{
  /* float: right; */
  padding: 15px 4%;
  margin-left: 20%;
  vertical-align: middle;
  background-color: #008cba;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}


.button_back button{
  float: left;
  padding: 10px;
  background-color: pink;
  border-radius: 10px;
  margin-left: 20px;
}

.button_enter button{
  float: left;
  padding: 10px;
  background-color: pink;
  border-radius: 10px;
  margin-left: 40px;
}

.nombre_web h1{
  color: blue;
  font-style: oblique;

}

.subtitulo h2{
  text-align: center;
  font-style: italic;
  font-family: monospace;
  font-size: 25px;
}

.datos label{
  padding: 20px;
}

.datos input{
  margin-left: 15px;
}
